.sidebar-box
  = haml :sidebar_schedule, :layout => true

.sidebar-box.roster
  = haml :sidebar_roster, :layout => true
  
  /
    #sidebar
      = haml :categories, :layout => false
      = haml :feed, :layout => false
      = haml :social, :layout => false
